<%
    def anchor(url, text)
        if request.path != url
            return '<a href="' + url + '">' + text + "</a>"
        else
            return '<p class="navbar-text">' + text + '</p>'
        end
    end

%>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <% if @game_name %>
                <div class="navbar-brand"><a href="/">БИЦ</a>:&nbsp;<%= @game_name %></div>
            <% elsif @title %>
                <div class="navbar-brand"><a href="/">БИЦ</a>:&nbsp;<%= @title %></div>
            <% end %>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <% if @game_name %>
                <ul class="nav navbar-nav">
                    <li><%== anchor("/" + @game_id, "События") %></li>
                    <li><%== anchor("/" + @game_id + "/objects", "Объекты") %></li>
                    <li><%== anchor("/" + @game_id + "/locations", "Локации") %></li>
                </ul>
            <% end %>

            <% if session[:user] %>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>&nbsp;<%= session[:user]["name"] %></a></li>
                </ul>
            <% else %>
                <% unless flash[:login] %>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Вход</a></li>
                    </ul>
                <% else %>
                    <% flash[:login] = false %>
                <% end %>
            <% end %>
        </div>
    </div>
</nav>

